@import "grommet/scss/vanilla/index";

#sidebar-toggler {
	border: 0;
}

.custom-list-anchor {
	width: 100%;
	padding-bottom: 24px !important;
	padding-top: 24px !important;

	.measurement-state-badge {
		color: #0a64a0;
	}
}
